@using Microsoft.AspNetCore.Html
@{
    ViewData["Title"] = "Urunler";
    Layout = "~/Views/Shared/_UrunlerLayout.cshtml";
    string ara = (string)ViewData["Ara"]!;
    int pageIndex = (int)ViewData["PageIndex"]!;
    int totalPages = (int)ViewData["TotalPages"]!;
    string column = (string)ViewData["Column"]!;
    string orderBy = (string)ViewData["OrderBy"]!;
    HtmlString getArrow(string tableColumn)
    {
        if (tableColumn != column)
        {
            return new HtmlString("");
        }
        if (orderBy == "desc")
        {
            return new HtmlString("&darr;");
        }

        return new HtmlString("&uarr;");

    }
}
@*Layotu deistirdim cunku istemiyorum navbar urunler gozuksun burda*@
@model List<Product>


<head>
     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        body {
            background-image: url('/UrunResimleri/dukkanresmi.jpg');
            background-size: cover;
            background-position: center;
        }

        tbody {
            opacity: 0.95;
        }

        /*   #tb{
                                background-image:url('/UrunResimleri/tableArkaPlan.jpg');
                                background-size:cover;
                                background-position:center;
                                opacity: 1.0;
                            } */
        .th {
            height: auto;
            margin: auto;
            background-color: orange;
            font-size: 18px;
            color: indianred;
        }

        #search {
            opacity: 1;
        }
    </style>
    <script>
        function sortTable(column) {
            let orderBy = "desc"
            let currentColumn = "@column";
            let currentOrder = "@orderBy";
            if (column === currentColumn) {
                if (currentOrder == "asc") orderBy = "desc";
                else orderBy = "asc";
            }
            window.location.href = "?search=@(ara)&column=" + column + "&orderBy=" + orderBy
        }
    </script>

</head>

<div>
    <h2 class="text-center mb-5" style="color:red;font-size:50px">Products</h2>
</div>

<div class="row mb-5">

    <div class="col">
        <a class=" btn btn-create asp-controller="Products" asp-action="Create">Urun Ekle</a>
    </div>
    <div class="col">
        <form asp-controller="Products" asp-action="Index" method="get">
            <div class="col-6">
                <a class="btn btn-primary" asp-controller="Products" asp-action="Index">Urunlere Geri Don</a>
                <button class="btn btn-outline-success my-2 my-sm-0" id="search" type="submit">Ara</button>
                <input class="form-control mr-sm-2" type="search" name="ara" value="@ara" placeholder="Urun Ismiyle Ara" aria-label="Search">
            </div>
        </form>
    </div>
</div>
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th class="th" style="cursor: pointer;" onclick="sortTable('Id')">ID @getArrow("id")</th>
                <th class="th" style="cursor: pointer;" onclick="sortTable('Name')">Urun Adi @getArrow("Name")</th>
                <th class="th" style="cursor: pointer;" onclick="sortTable('Brand')">Marka @getArrow("Brand")</th>
                <th class="th" style="cursor: pointer;" onclick="sortTable('Category')">Kategori @getArrow("Category")</th>
                <th class="th" style="cursor: pointer;" onclick="sortTable('Price')">Fiyat @getArrow("Price")</th>
                <th class="th">Urun Gorseli</th>
                <th class="th" style="cursor: pointer;" onclick="sortTable('CreatedAt')">Urun Tarihi @getArrow("CreatedAt")</th>
                <th class="th">Kontrol Grubu</th>
            </tr>
        </thead>
        <tbody style="background-color:aliceblue;" id="tb">
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Brand</td>
                    <td>@product.Category</td>
                    <td>@(product.Price)₺</td>
                    <td><img src="/UrunResimleri/@product.ImageFileName" width="100" /></td>
                    <td>@product.CreatedAt.ToString("MM/dd/yyyy")</td>
                    <td style="flex-wrap:wrap">
                        <a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="Duzenle"
                           asp-route-id="@product.Id">Guncelle</a>


                        <a class="btn btn-danger   btn-sm" asp-controller="Products" asp-action="SilmeSayfasi"
                           asp-route-id="@product.Id">Sil</a>

                    </td>
                </tr>
            }

        </tbody>

    </table>
</div>
<nav>
    <ul class="pagination">
        @for (int i = 1; i <= totalPages; i++)
        {
            //PageIndex routesi i de gelen deger Controllerin icindeki pageIndex degerini
            //Burda i olarak gondermis olduk Controllerin Icindeki Indexe
            string active = "";
            //Su anki sayfa i ye esitse
            if (i == pageIndex)
            {
                active = "active";
            }
            <li class="page-item @active">
                <a class="page-link" asp-route-pageIndex="@i"
                   asp-route-ara="@ara" asp-route-column="@column" asp-route-orderBy="@orderBy">@i</a>
            </li>
        }
    </ul>
</nav>